* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
     }
   
   body {
        background-color: #64A6BD;
        background-image: url("./background.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 3rem;
        display: flex;
        min-height: 100vh;
       }
.box {
    background: rgba(99, 71, 255, 0.759);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 10;
    margin: 0 2em;
    max-width: 700px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 2rem;
   color: #e5e5e5;
   font-family: sans-serif;
}
input {
    background-color: transparent;
    border: none;
    padding: .7rem;
    width: 100%;
    user-select: none;
    max-height: 50px;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
    font-size: 22px;
    text-align: center;
    overflow-x: scroll;
}

input::placeholder {
    font-size: 26px;
    color: #c3c3c3;
}

.validationMsg{
    background-color: rgba(255, 0, 0, 0.594);
    padding: 1rem;
}

#btnGen {
    font-size: 18px;
    font-weight: 500;
    background-color: #00b45a;
    border: none;
    border-radius: .3rem;
    color: #ffffff;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 1.4rem;
    transition: background-color .2s ease-in-out;

}
#btnGen:hover {
    color: #ffffff;
    background-color: #9cc300;
}